@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://unpkg.com/leaflet@1.7.1/dist/leaflet.css');

p,
span,
label {
  font-family: "Urbane Light", Roboto, sans-serif;
}

h1,
h2,
h3 {
  color: #202020;
  font-family: "Urbane Bold", Roboto, sans-serif;
}

.overlay {
  background: #202020de;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: #202020;
  border-radius: 20px;
}

body::-webkit-scrollbar-thumb {
  background: #15aaa6;
  border-radius: 20px;

}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: #15aaa6 #202020;
  }
}

.custom-shape-divider-bottom {
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom svg {
  position: relative;
  display: block;
  width: calc(130% + 1.3px);
  height: 150px;
}

.custom-shape-divider-bottom .shape-fill {
  fill: #FFFFFF;
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-bottom svg {
    width: calc(160% + 1.3px);
    height: 60px;
  }
}