@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://unpkg.com/leaflet@1.7.1/dist/leaflet.css');

p,
span,
label {
  font-family: "Urbane Light", Roboto, sans-serif;
}

h1,
h2,
h3 {
  color: #202020;
  font-family: "Urbane Bold", Roboto, sans-serif;
}

.overlay {
  background: #202020;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}


body {
  --sb-track-color: #202020;
  --sb-thumb-color: #15aaa6;
  --sb-size: 10px;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: #202020;
  border-radius: 20px;
}

body::-webkit-scrollbar-thumb {
  background: #15aaa6;
  border-radius: 20px;

}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: #15aaa6 #202020;
  }
}